{% extends "base.html" %}
{% block content %}
    <h1>Sign Up</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(size=32) }}
        </p>
        <p>
            {{ form.phone.label }}<br>
            {{ form.phone(size=32) }}
        </p>
        <p>
            {{ form.passport.label }}<br>
            {{ form.passport(size=32) }}
        </p>

        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}

        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
